.logo {
	background: #fff;
	border-radius: 9%;
	width: 100px; height: 100px;
	position: absolute;
}

.logo::after {
	color: #43609C;
	content: "f";
	font-family: Facebook Letter Faces, Arial;
	font-size: 100px;
	font-weight: bold;
	margin: 6% 0 0 50%;
}