.logo {
	box-sizing: content-box;
	position: relative;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border-top: 50px solid #ea4335;
	border-right: 50px solid #4285f4;
	border-bottom: 50px solid #34a853;
	border-left: 50px solid #fbbc05;
}
  
.logo::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 80px;
	transform: translateY(-50%);
	width: 100px;
	height: 50px;
	background: #4285f4;
}