.logo{
	position: absolute;
	top: 80px;
	left: 100px;
}

.logo::before{
	content:"";
	position: absolute;
	top: -250px;
	left: 190px;
	width: 100px;
	height: 450px;
	background: #000;
	border-top-left-radius: 60px 110px;
	border-top-right-radius: 130px 220px;
	transform: rotate(-113deg);
}

.logo::after{
	content: "";
	position: absolute;
	top: -270px;
	left: 240px;
	width: 100px;
	height: 460px;
	background: white;
	border-top-left-radius: 60px 110px;
	border-top-right-radius: 130px 220px;
	transform: rotate(-102deg);
}